---
interface Props {
  title?: string;
  description?: string[];
  link?: string;
  date?: string;
}

const { title, description, link, date } = Astro.props;
---

<div class="w-full mb-16 mt-16" data-projection-id="139" style="opacity: 1;">
  <div class="ml-9">
    <div
      class="w-full flex justify-start gap-6 border-neutral-800 border-l pb-16"
    >
      <div class="relative">
        <div
          class="absolute top-[-2px] left-[-8.5px] w-4 h-4 rounded-full aspect-square outline-black bg-purple-500"
        >
          <div
            class="absolute top-0 left-0 rounded-full -z-10 w-4 h-4 bg-purple-500 animate-ping aspect-square"
          >
          </div>
        </div>
      </div>
      <div class="mt-[-4px] flex flex-col gap-2">
        <p class="text-base text-gray-400">
          <a
            href="https://www.linkedin.com/in/davidvillard"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-white hover:underline transition-all ease"
            >Desenvolvimiento de Aplicaciones Web</a
          > | sept. 2022 - sept. 2024
        </p><p class="text-base text-gray-400">
          <p class="mb-3">
            En este ciclo formativo he aprendido a desarrollar aplicaciones web,
            tanto en el lado del cliente como en el servidor, utilizando
            tecnologías como HTML, CSS, JavaScript, PHP, MySQL, Java, Docker,
            Vue, Tailwind etc. En el proyecto de fin de curso amplié mis
            habilidades al trabajar con tecnologias como React, utilizando Vite
            como bundler, React Router para la navegación y Tailwind junto con
            otras dependencias esenciales. Por otro lado, he aprendido a
            utilizar herramientas de control de versiones como Git.
          </p>

          <p class="mb-3">
            También he desarrollado competencias en el uso de sistemas
            operativos, particularmente en Ubuntu. Esta habilidad no solo amplía
            mis conocimientos técnicos, sino que también demuestra mi
            versatilidad en entornos tecnológicos diversos.
          </p>

          <p>
            Además del desarrollo de aplicaciones, me he introducido en el
            montaje de hardware y gestión de sistemas informáticos,
            especialmente con Ubuntu.
          </p>
        </p>
      </div>
    </div><div
      class="w-full flex justify-start gap-6 border-neutral-800 border-l pb-16"
    >
      <div class="relative">
        <div
          class="absolute top-[-2px] left-[-8.5px] w-4 h-4 rounded-full aspect-square outline-black bg-purple-500"
        >
          <div
            class="absolute top-0 left-0 rounded-full -z-10 w-4 h-4 bg-purple-500 animate-ping aspect-square"
          >
          </div>
        </div>
      </div><div class="mt-[-4px] flex flex-col gap-2">
        <p class="text-base text-gray-400">
          <a
            href="https://www.linkedin.com/in/davidvillard"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-white hover:underline transition-all ease"
            >Gyleven</a
          > | sept. 2024 - Actualmente
        </p><p class="text-base text-gray-400">
          <p class="mb-3">
            Actualmente, me encuentro realizando mis prácticas del Ciclo
            Superior de Desenvolvimiento de Aplicaciones Web en Gyleven, donde
            estoy adquiriendo experiencia en la creación de maquetas visuales y
            prototipos con Figma, que posteriormente implemento utilizando
            WordPress WPBakery. Mi enfoque es desarrollar sitios web
            profesionales, funcionales y totalmente responsive, garantizando una
            óptima experiencia de usuario en cualquier dispositivo.
          </p>

          <p class="mb-3">
            Además, a lo largo de este proceso, estoy aprendiendo a identificar
            y resolver errores o problemas que puedan surgir durante el
            desarrollo, mejorando mi capacidad de autoresolución. A medida que
            avance en mis prácticas, también participaré en otras actividades y
            proyectos que me permitirán seguir ampliando mis habilidades en
            diversos aspectos del desarrollo web.
          </p>
        </p>
      </div>
    </div>
    <!-- <div class="w-full flex justify-start gap-6 border-neutral-800">
    <div class="relative">
      <div
        class="absolute top-[-2px] left-[-8.5px] w-4 h-4 rounded-full aspect-square outline-black bg-neutral-800 w-3 h-3 left-[-5.5px]"
      >
      </div>
    </div><div class="mt-[-4px] flex flex-col gap-2">
      <p class="text-base text-gray-400">
        Studio Iluxion | may. 2022 - jul. 2022
      </p><p class="text-base text-gray-400">
        Web designer and responsive web designer on projects using Figma, HTML,
        CSS, SCSS, SASS, Bootstrap, JavaScript, jQuery implementing SCRUM, pixel
        perfect and clean code.
      </p>
    </div>
  </div> -->
  </div>
</div>
<!-- <div class="container max-w-5xl px-4 py-12 mx-auto">
  <div class="grid gap-4 mx-4 sm:grid-cols-12">
    <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
      <div
        class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-gray-700"
      >
        <div
          class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-purple-400"
        >
          <h3 class="text-2xl font-semibold mb-1">{title}</h3>
          <time class="text-xs dark:text-gray-400 mb-4">{date}</time>
          {
            description && (
              <p class="mt-3">
                {description.map((paragraph) => (
                  <p class="text-sm font-normal text-gray-200 mb-5 text-pretty">
                    {paragraph}
                  </p>
                ))}
              </p>
            )
          }
        </div> -->
<!-- <div
          class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400"
        >
          <h3 class="text-xl font-semibold">{title}</h3>
          <time class="text-xs uppercase dark:text-gray-400"
            >{date}</time
          >
          {
            description && (
              <p class="mt-3">
                {description.map((paragraph) => (
                  <p class="text-sm font-normal text-gray-200 mb-5 text-pretty">
                    {paragraph}
                  </p>
                ))}
              </p>
            )
          }
        </div> -->
<!--<div
          class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400"
        >
          <h3 class="text-xl font-semibold tracki">
            Pellentesque habitant morbi
          </h3>
          <time class="text-xs tracki uppercase dark:text-gray-400"
            >Jan 2016</time
          >
          <p class="mt-3">
            Suspendisse tincidunt, arcu nec faucibus efficitur, justo velit
            consectetur nisl, sit amet condimentum lacus orci nec purus. Mauris
            quis quam suscipit, vehicula felis id, vehicula enim.
          </p>
        </div>
      </div> -->
