---
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import JavaScript from "./icons/JavaScript.astro"
import React from "./icons/React.astro"
import Tailwind from "./icons/Tailwind.astro"
import PHP from "./icons/PHP.astro"
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-orange-700/30 text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-700/30 text-white",
    icon: CSS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-400/30 text-white",
    icon: JavaScript,
  },
  REACT: {
    name: "React",
    class: "bg-blue-400/30 text-white",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-cyan-400/30 text-white",
    icon: Tailwind,
  },
  PHP: {
    name: "PHP",
    class: "bg-indigo-500/30 text-white",
    icon: PHP,
  },
};

const PROJECTS = [
  {
    title: "Interstellar Fan Page - Proyecto Web",
    description:
      "Esta es una Fan Page dedicada a la película Interstellar. Fue creada como parte de un proyecto para el ciclo superior de diseño web centrado en el Diseño Web Responsive. El sitio web cuenta con varias páginas y presume de un diseño responsive adaptado a diferentes tamaños de pantalla.",
    link: "https://interstellarfanpage.netlify.app",
    github: "https://github.com/davidvillard/Interstellar",
    image: "/projects/svgl.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Gestión de horarios y módulos para profesores",
    description:
      "El objetivo principal del proyecto es optimizar la gestión de horarios y módulos para los profesores, proporcionándoles una plataforma intuitiva y eficiente para crear y consultar sus horarios personales. La aplicación permitirá a los profesores personalizar sus horarios según sus preferencias y responsabilidades académicas, teniendo en cuenta su carga docente y los diferentes módulos que imparten.",
    link: "https://github.com/sempereluismi/modular",
    github: "https://github.com/sempereluismi/modular",
    image: "/projects/modular.webp",
    tags: [TAGS.REACT, TAGS.PHP, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, link, github, description, tags }, index) => (
    <article class={`mb-52 last:mb-20 mt-12`}>
      <a href={link}><h3 class="text-3xl font-semibold text-yellow-200/80 mb-6">{title}</h3></a>
      <p class="text-base mb-6 text-pretty">{description}</p>
      <div class="flex justify-between items-center mb-4">
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>

      <div class="flex-shrink-0 mb-2">
          <SocialPill href={github}>
            <GitHubIcon class="size-4" />
          </SocialPill>
        </div>

        </div>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}

