---
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import JavaScript from "./icons/JavaScript.astro"
import React from "./icons/React.astro"
import Tailwind from "./icons/Tailwind.astro"
import PHP from "./icons/PHP.astro"

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-orange-700/30 text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-700/30 text-white",
    icon: CSS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-400/30 text-white",
    icon: JavaScript,
  },
  REACT: {
    name: "React",
    class: "bg-blue-400/30 text-white",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-cyan-400/30 text-white",
    icon: Tailwind,
  },
  PHP: {
    name: "PHP",
    class: "bg-indigo-500/30 text-white",
    icon: PHP,
  },
};

const PROJECTS = [
  {
    title: "Interstellar Fan Page - Website Project",
    description:
      "This is a fan page dedicated to the movie Interstellar. It was created as part of a project for an advanced web design course focused on Responsive Web Design. The website features multiple pages and boasts a responsive design tailored to different screen sizes.",
    link: "https://davidvillard.github.io/First-WebSite-Project-Responsive/v01/src/html/home.html",
    github: "https://github.com/davidvillard/First-WebSite-Project-Responsive",
    image: "/projects/svgl.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Schedule and Module Management for Teachers",
    description:
      "The main objective of the project is to optimize the management of schedules and modules for teachers, providing them with an intuitive and efficient platform to create and consult their official schedules. The application will allow teachers to customize their schedules according to their preferences and academic responsibilities, considering their teaching workload and the various modules they instruct.",
    link: "https://github.com/sempereluismi/modular",
    github: "https://github.com/sempereluismi/modular",
    image: "/projects/modular.webp",
    tags: [TAGS.REACT, TAGS.PHP, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }, index) => (
    <article class={`mb-52 last:mb-20`}>
      <h3 class="text-3xl font-semibold text-yellow-200/80 mb-2">{title}</h3>
      <p class="text-base mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}


